tr {
    cursor:pointer;
}

#graphReturnB {
    position:absolute;
    z-index:9999;
    top:90%;
    left:2%;
}

#toggleLocations {
    position:absolute;
    z-index:9999;
    top:90%;
    left:10%;
}

#popup {
    padding: 5px;
    position: absolute;
    display: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.mtop {
    margin-top: 40px;
}
